#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: samanthadiaz # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDqzXL3TVwuXmKzxKMqDEqDYoHgHfP3nHUxg4ookOgJ+8x7dpenxx8qp1UuB2jWsEs8oQzydMShwFfMCbWoqm986F3fMWNhzfVd524W189M5OFlsw34OD8UcpdmwcA1s3QoBp/6EAAQ2PNcKXfBypNLSz+BA26G6QhlDNDbeqTMap4WZ/Q7ou6ha2c3iBysvopi09sVaaR80c0awb3/+Ik79Oc+MZBY9/nIScN5nB7b8aRA2QFb1SXzozYCE0frfcwm3NQ0jy6cKhjGE7IB/OZWpVWDkvdhdscdonLm2G61Zm2MVZgaTYBaB+jFMoZnFRSOFIRom2v4alWhISibqaXT samanthadiaz@samanthadiaz-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
